<div class="center">
  
  <div class="p-fluid">
    <div class="p-field">
        <input id="username" type="text" pInputText placeholder="Username" [(ngModel)]="username"/> 
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
        <input id="password" type="password" pPassword placeholder="Password" [feedback]=false [(ngModel)] = "password" />
    </div>
    <hr style="color: transparent;"/>
    <button pButton pRipple type="button" label="Login" class="p-button-raised p-button-info" (click)=login()></button>

  </div>

</div>