
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        width="40"
        src="https://i.pinimg.com/236x/12/10/ee/1210eeb88ee664ae87354a70617611f4.jpg"
        alt="User Icon" />
    </div>

    <!-- Login Form -->
      <input id="username" type="text" class="form-control"  pInputText placeholder="Username" [(ngModel)]="username"/>
      <input id="password" type="password" class="form-control" pPassword placeholder="Password" [feedback]=false [(ngModel)]="password"/>
     <input type="submit" class="fadeIn fourth" value="Log In" (click)=login()>
  

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
