<div class="center">
  
  <div class="p-fluid">
    <div class="p-field">
      <input id="firstname" type="text" pInputText placeholder="First Name">
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <input id="lastname" type="text" pInputText placeholder="Last Name">
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
        <input id="username" type="text" pInputText placeholder="Username"> 
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
        <input id="password" type="password" pPassword placeholder="Password">
    </div>
    <hr style="color: transparent;"/>
    <button pButton pRipple type="button" label="Sign up" class="p-button-raised p-button-help"></button>

  </div>

</div>