
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        width="40"
        src="https://i.pinimg.com/236x/12/10/ee/1210eeb88ee664ae87354a70617611f4.jpg"
        alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
<input id="firstname" type="text" pInputText placeholder="First Name" aria-required="true">
      <input id="lastname" type="text" pInputText placeholder="Last Name" aria-required="true">
      <input id="username" type="text" pInputText placeholder="Username" aria-required="true">
      <input id="password" type="password" pPassword placeholder="Password" aria-required="true">
      <p style="font-size: small; margin-bottom: 0;">Select user:</p>

      <p-dropdown [options]="users" [(ngModel)]="selectedUser" aria-required="true"></p-dropdown>

     <input type="submit" class="fadeIn fourth" label="Sign up" value="Sign Up" (click)=signUp()>

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      
    </div>

  </div>
</div>
