<div class="center">
  <div class="p-fluid">
    <h4>Welcome!</h4>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <button pButton pRipple type="button" label="Login" class="p-button-raised p-button-info" routerLink='/login'></button>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field center">
      <p>or</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <button pButton pRipple type="button" label="Sign up" class="p-button-raised p-button-help" routerLink='/registration'></button>
    </div>
  </div>
</div>