<div class="p-fluid">
  <div class="p-field">
    <h3>Lessons available:</h3>
  </div>
  <hr style="color: transparent;"/>
  <div class="p-field">
    <p>Lesson n1</p>
  </div>
  <div class="p-field" style="width: min-content">
    <button pButton pRipple type="button" label="Info" class="p-button-raised p-button-warning"></button>
  </div>
  <hr style="color: transparent;"/>
  <div class="p-field">
    <p>Lesson n2</p>
  </div>
  <div class="p-field" style="width: min-content">
    <button pButton pRipple type="button" label="Info" class="p-button-raised p-button-warning"></button>
  </div>
</div>