<p-breadcrumb [model]="items"></p-breadcrumb>
<div class="center">
  <div class="p-fluid">
    <div class="p-field">
      <p><b>Name:</b> </p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Instrument:</b> </p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Teacher:</b> </p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Date:</b> </p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Duration:</b> </p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Cost:</b> €</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <button pButton pRipple type="button" label="Add lesson" class="p-button-raised p-button-success"></button>
    </div>
  </div>  
</div>