<p-breadcrumb [model]="items"></p-breadcrumb>
<div class="center">
  <div class="p-fluid">
    <div class="p-field">
      <p><b>Name:</b> {{name}}</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Instrument:</b> {{instrument}}</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Teacher:</b> {{teacher}}</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Date:</b> {{date}}</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Duration:</b> {{duration}}</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <p><b>Cost:</b>{{cost}} €</p>
    </div>
    <hr style="color: transparent;"/>
    <div class="p-field">
      <button pButton pRipple type="button" label="Add lesson" class="p-button-raised p-button-success"></button>
    </div>
  </div>  
</div>